/deps

/feffery_maplibre/*.js
/feffery_maplibre/*.LICENSE.txt
/feffery_maplibre/*.js.map
/feffery_maplibre/metadata.json
/feffery_maplibre/package-info.json

/inst

/man

/node_modules

/R

*.jl
src/jl
src/demo

/tests

.Rbuildignore

CONTRIBUTING.md

index.html

package-lock.json

review_checklist.md

*/__pycache__

/build

/dist

/feffery_maplibre.egg-info

/.vscode